<router-outlet></router-outlet>

<!-- creating login page
 * Create a component for login-page using CLI and design it using bulma
 * To import fontawesome link import it in index.html i.e global html
 * Now we gonna use JWT for authentication
 * go to api and create new user-model.js file inside models for user authentication and inside that model define session method
 * since sesson method is define in user-model file so we need to  create same method in same file which will save the session to database
 *after all the authentication process in user-model.js file go routing and create route for user
 * Go to index.js and import user  

 -->

 <!-- 
  *In user-model.js we create all method for user authentication
  * In app.js file we created root for all those method 
  *
  *   
  -->